/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0.5rem;
    padding: 10px;
    background-color: #403af4;
    color: white;
    line-height: 1.6;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Header */
header {
    background-color: #312e81;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
    color: #a5b4fc;
}

/* Mobile Menu Button */
.menu-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #332ae9;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.menu-toggle:hover {
    background-color: #4338ca;
}  



/* Toolbar */
.toolbar {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    text-align: center;
}

.toolbar .button {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.1s ease;
}

.toolbar .button:hover {
    background-color: #4338ca;
}

/* Form Styles */
form {
    background-color: rgb(246, 246, 249);
    padding: 25px;
    border: 1px solid #cbd5e1;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    align-items: center;
}

form .form-group {
    margin-bottom: 20px;
}

form .form-group.gender-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .form-group.gender-group label {
    margin-right: 10px;
    color: #000;
    text-align: center;
}

form .form-group.gender-group input[type="radio"] {
    margin-right: 5px;
}

form .form-group.gender-group input[type="radio"]:checked + label {
    font-weight: bold;
    color: #000;
}

form .form-row {
    display: flex;
}

form .form-row .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form .form-row .form-group:last-child {
    margin-right: 0;
}

form .form-row .form-group input[type="text"], form .form-row .form-group input[type="email"], form .form-row .form-group input[type="number"], form .form-row .form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
}

form .form-row .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
}

form label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #000;
}
form input[type="text"], form input[type="email"], form input[type="number"], form input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
}

form textarea {
    height: 150px;
}

form input[type="submit"] {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

form input[type="submit"]:hover {
    background-color: #4338ca;
}  

form input[type="file"] {
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
}

form input[type="file"]::-webkit-file-upload-button {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

form button {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.1s ease;
}

form button:hover {
    background-color: #4338ca;
}


/* Footer */
footer {
    color: #abb8de;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    border-top: 1px solid #cbd5e1;
    padding-top: 50px;
    background-color: #122ac5;
    padding: 20px;
}

footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-section {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}
footer-sub .subscribe-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer-sub .subscribe-form input[type="email"] {
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 1rem;
    min-width: 200px;
    margin-right: 10px;
}

footer-sub .subscribe-form button[type="submit"] {
    background-color: #4f46e5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}

footer-sub .subscribe-form button[type="submit"]:hover {
    background-color: #4338ca;
}

footer .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer p, footer a {
    color: #d1d5db;
    font-size: 0.9rem;
}

footer a:hover {
    color: #a5b4fc;
}

footer .social-icons a {
    margin-right: 10px;
    font-size: 1.2rem;
}

.footer-bottom {
    border-top: 1px solid #4f46e5;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    .footer-content {
        flex-direction: column;
    }

    .toolbar {
        flex-direction: column;
    }

    .toolbar .button {
        margin-bottom: 10px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    header h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 1rem;
    }

    .toolbar .button {
        font-size: 0.9rem;
    }

    footer {
        text-align: center;
    }

    footer .footer-section {
        margin-bottom: 10px;
    }
}

/* Show the menu button on small screens */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .navbar {
        display:none;
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        display: block;
        padding: 10px;
    }

    .navbar.active {
        display: flex;
    }
}
@media (max-width: 630px) {
    header h1 {
        font-size: 1.5rem;      /* Adjust font size for smaller screens */
        white-space: normal;  /* Allow the text to wrap */
        word-wrap: break-word; /* Ensure long words break properly */
        text-align: center;   /* Optionally center-align the text */
    }
}

@media (max-width: 460px) {
    header h1 .center h2 {
        font-size: 1.3rem;     /* Reduce font size for small screens */
        white-space: normal;   /* Allow the text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
        text-align: center;    /* Center-align the text for better balance */
        line-height: 1.2;      /* Adjust line height for readability */
    }
}

@media (max-width: 420px) {
    header h1  {
        font-size: 1rem;     /* Reduce font size for small screens */
        white-space: normal;   /* Allow the text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
        text-align: center;    /* Center-align the text for better balance */
        line-height: 1.2;      /* Adjust line height for readability */
    }
}

@media (max-width: 420px) {
    .center h2 {
        font-size: 1rem;     /* Reduce font size for small screens */
        white-space: normal;   /* Allow the text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
        text-align: center;    /* Center-align the text for better balance */
        line-height: 1.2;      /* Adjust line height for readability */
    }
}

@media (max-width: 420px) {
    form h3 {
        font-size: 0.9rem;     /* Reduce font size for small screens */
        white-space: normal;   /* Allow the text to wrap */
        word-wrap: break-word; /* Break long words if necessary */
        text-align: center;    /* Center-align the text for better balance */
        line-height: 1.2;      /* Adjust line height for readability */
    }
}